<div *ngFor="let prestacion of prestaciones">
  <div class="card">
    <img class="card-img-top" alt="">
    <div class="card-body">
      <h4 class="card-title text-center"><b>{{prestacion.tipo | uppercase}}</b></h4>
      <p class="card-text">
        <span class="mr-2"><b>Inicio:</b></span>
        <span>{{prestacion.fechaEntrada}}</span>
      </p>
      <p class="card-text">
        <span class="mr-2"><b>Fin:</b></span>
        <span>{{prestacion.fechaSalida}}</span>
      </p>
      <p class="card-text">
        <span class="mr-2"><b>Jaula:</b></span>
        <span>{{prestacion.jaula}}</span>
      </p>
      <p class="card-text">
        <span class="mr-2"><b>Tipo de Comida:</b></span>
        <span>{{prestacion.tipoComida}}</span>
      </p>
      <p class="card-text">
        <span class="mr-2"><b>Cantidad de comida/día:</b></span>
        <span>{{prestacion.cantidadComidaDiaria}}</span>
      </p>
      <p class="card-text">
        <span class="mr-2"><b>Precio:</b></span>
        <span>{{prestacion.precioPrestacion}}</span>
      </p>
    </div>
  </div>
</div>