<footer class="footer bg-light"><!-- si quiero ponerlo fijo le añadiré fixed-bottom mb-2 -->
  <div class="container text-center">
    <div class="row justify-content-around">
      <a class="btn btn-link" href="https://git.institutomilitar.com/" aria-hidden="true" target="_blank">
        <fa-icon [icon]="faGitlab" class="gitLab fa-3x"></fa-icon>
      </a>
      <a class="btn btn-link" href="https://github.com/" aria-hidden="true" target="_blank">
        <fa-icon [icon]="faGitHub" class="gitHub fa-3x"></fa-icon>
      </a>
      <a class="btn btn-link" href="https://twitter.com/tweeter?lang=es" rel="noopener" target="_blank">
        <fa-icon [icon]="faTwitter" class="twitter fa-3x"></fa-icon>
      </a>
      <a class="btn btn-link" href="https://wa.me/34669899668" rel="noopener" target="_blank">
        <fa-icon [icon]="faWhatsapp" class="whatsapp fa-3x"></fa-icon>
      </a>
      <a class="btn btn-link" href="https://facebook.com/" aria-hidden="true" target="_blank">
        <fa-icon [icon]="faFacebook" class="facebook fa-3x"></fa-icon>
      </a>
    </div>
  </div>
  <hr>
  <div>
    <p class="text-center bg-light py-3 text-secondary mb-0">&#9400; 2021 - Dpto SIC - ACING</p>
  </div>
</footer>
