<header>
  <div class="container">
    <div class="row justify-content-end" *ngIf='!getLogged();else elseBlock'>
      <form #loggingForm="ngForm">
        <div class="form-inline">
            <input type="text" class="form-control mr-2" [(ngModel)]="nombreUsuario" placeholder="Alias del empleado"
              name="nombre" />
            <input type="password" class="form-control mr-2" [(ngModel)]="password" placeholder="Password del empleado"
              name="password" />
        </div>
      </form>
      <button class="btn btn-success text-white" (click)="comprobarLogging()">Identificarse</button>
    </div>
    <ng-template #elseBlock>
      <div class="row justify-content-end">
        <div class="logueado mr-2 mt-2">{{nombreUsuario | titlecase}} logged as {{tipoUsuario | titlecase}}</div>
        <button class="btn btn-danger text-white" (click)="cerrarSesion()">Cerrar sesión</button>
      </div>
    </ng-template>
    <hr class='w-100'>
    <!-- Barra de navegación más logo y menu-->
    <div class="nav row align-items-strech justify-content-center">
      <!-- LOGOTIPO -->
      <div class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/">
          <h2>CAN RESORT</h2>
        </a>
        <span>&nbsp; <fa-icon class="color-0" [icon]="faDotCircle"></fa-icon></span>
        <p>&nbsp;Residencia de animales</p>
      </div>
      <!-- Menu de Navegación-->
      <nav class="col-md-12 col-lg-auto menu d-flex align-items-stretch flex-wrap flex-sm-nowrap">
        <!-- align-items-stretch: para que los tres div se repartan el espacion disponible por igual// flex-wrap: en un tamaño extra pequeño los elementos se pongan uno debajo de otro //flex-sm-nowrap: en un tamaño pequeño se pongan una al lado del otro-->
        <a routerLink="clientes" class="color-1 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <!--Con Flex-Column hacemos que el  texto este arriba y el icono abajo-->
            <span>CLIENTES</span>
            <fa-icon [icon]="faUser"></fa-icon>
          </div>
        </a>
        <a routerLink="mascotas" class="color-2 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <!--Con Flex-Column hacemos que el  texto este arriba y el icono abajo-->
            <span>MASCOTAS</span>
            <fa-icon [icon]="faDog"></fa-icon>
          </div>
        </a>
        <a routerLink="prestaciones" class="color-3 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <!--Con Flex-Column hacemos que el  texto este arriba y el icono abajo-->
            <span>PRESTACIONES</span>
            <span display="inline-block">
              <fa-icon [icon]="faBed"></fa-icon>&nbsp;&nbsp;<fa-icon [icon]="faBone"></fa-icon>
            </span>
          </div>
        </a>
        <a routerLink="administracion" class="color-4 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <!--Con Flex-Column hacemos que el  texto este arriba y el icono abajo-->
            <span>ADMINISTRACIÓN</span>
            <fa-icon [icon]="faUsersCog"></fa-icon>
          </div>
        </a>
      </nav>
    </div>
  </div>
</header>